{
  "loopback-component-satellizer": {
	  "facebook": {
	    "credentials": {
        "private": "your facebook App Secret"
	    }
	  },
    "google": {
      "credentials": {
        "private": "your google+ Client Secret"
      }
    }
	}
}
